/* Styles: */

#about {

    height: auto;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: transparent;
    padding: 80px 15px 15px 15px;

}

#about #about-text {

    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;

}

#about #about-text h2, #about #about-text p {

    max-width: 100%;
    text-align: left;

}

#about #about-text h2 {

    font-size: 30px;
    font-weight: bold;
    color: var(--contrast-color);

}

#about #about-text p {

    width: 600px;
    font-size: 22px;
    line-height: 35px;
    color: var(--neutral-color);

}

#about figure {

    min-height: 450px;
    min-width: 450px;
    max-height: 450px;
    max-width: 450px;
    overflow: hidden;

}

#about figure img {

    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

/* Responsiveness: */

@media (max-width: 1180px) {

    #about {

        flex-direction: column;

    }

    #about #about-text {

        max-width: 100%;
        align-items: center;

    }

    #about #about-text h2, #about #about-text p {

        text-align: center;
    
    }

    #about figure {

        min-height: 300px;
        min-width: 300px;
        max-height: 300px;
        max-width: 300px;

    }

}